
[Bb]in/
[Oo]bj/
.vs/
*.user
*.suo
*.cache
*.log
*.pdb
*.dll
*.exe
*.xml

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/


.vscode/

exporterrorlog.txt
reset_registry.reg
reset_registry.bat

Thumbs.db
Desktop.ini
